<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   SingleTouchTimer.plist
   AwiseController

   Created by rover on 16/4/25.
   Copyright (c) 2016年 rover. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
